// Override Drupal styles
// ----------------------

.field-collection-container {
  border-bottom: none;
  margin: 0;

  .field-items .field-item {
    margin-bottom: 0;
  }

}

.field-collection-view {
  border-bottom: none;
  margin: 0;
  padding: 0;

  .entity-field-collection-item {
    width: inherit;
  }
  
}
